html {
	background-color: #cdd0d5;
	color: #000000;
	font-size: 1.5rem;
}

body {
	margin: 0;
}

header {
	padding: 0.75rem 0;
	background-color: #222831;
}

header nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;

	gap: 1rem;
}

header > nav > button {
	margin-left: 1rem;
	justify-self: start;
}

header nav a {
	color: #fff;
	font-weight: bold;
	text-align: center;
}

header nav a:hover {
	color: #e2e2e2;
}

header nav a.nav-active {
	color: darkgray !important;
}

.flexgrow {
	flex-grow: 1;
}

.container {
	margin-left: 6rem;
	margin-right: 6rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 0.5rem;
	background-color: #f0f5f9;
	min-height: 100vh;
}

.mygrid {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
	gap: 2rem;
}

.mygrid > * {
	/* border: 2px solid #393e46; */
}

.welcome {
	max-width: 30rem;
	margin: 0 auto;
	text-align: center;
}

.picture {
	display: flex;
	justify-content: center;
	align-items: center;
}

.picture img {
	border: 2px solid #393e46;
	border-radius: 30rem;
	box-shadow: 0 0 0.3rem #c5cbd5;
}

.flip img {
	transform: scaleX(-1);
}

.boxgrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.5rem;
	margin-bottom: 2rem;
}

.box {
	padding: 1rem;
}

.box h1 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	max-width: 50rem;
	margin: 0 auto;
}

.card {
	padding: 1rem;
	background-color: #fff;
	border-radius: 0.4rem;
	box-shadow: 0 0 0.3rem #c5cbd5;
	transition: 0.3s;
}

.card:hover {
	transform: translate(0, -1.5rem);
	box-shadow: 0 0.2rem 0.3rem #c5cbd5;
}

.card h2 {
	margin-top: 0;
	margin-bottom: 0.7rem;
	font-size: 1.2rem;
	text-align: center;
}

.card img {
	width: 100%;
	/* height: 100%; */
	border: 2px solid #e2e2e2;
	border-radius: 0.4rem;
	box-shadow: 0 0 0.3rem #c5cbd5;
}

.card span {
	display: block;
	margin-top: 0.5rem;
	font-size: 1.2rem;
	text-align: center;
	width: 100%;
}

.education {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	margin: 1rem 0;
}

.favorites-picture {
	text-align: center;
}

.favorites-picture img {
	border: 2px solid #393e46;
	border-radius: 0.4rem;
	box-shadow: 0 0 0.3rem #c5cbd5;
}

.test-img {
	border: 2px solid #393e46;
	border-radius: 0.4rem;
	box-shadow: 0 0 0.3rem #c5cbd5;

	width: 100%;
	/* height: 100%; */
}

.leftp {
	animation: spin 8s linear infinite;
}

.rightp {
	animation: spin 16s linear infinite reverse;
}

.leftp img,
.rightp img {
	width: 400px;
	height: 400px;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #e2e2e2;
}

.tablinks {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0.75rem 1rem;
	font-size: 1.25rem;
	font-weight: bold;
	transition: 0.3s;
}

.tablinks:hover {
	background-color: #d2d2d2;
}

.tabcontent {
	display: none;
	padding: 1rem 2rem;
	border-top: none;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
}

.tabcontent h3 {
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
}

.active {
	background-color: #ccc;
}

.avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}

.avatar img {
	border: 2px solid #393e46;
	border-radius: 0.4rem;
	box-shadow: 0 0 0.3rem #c5cbd5;
}

.avatar:hover {
	transform: scale(1.1);
	box-shadow: 0 0 0.9rem #c5cbd5;
}

.name {
	margin-top: 2rem;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

.details {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin: 1rem 0;
}

.socials {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin: 1rem 0;
	font-weight: bolder;
}

.socials a {
	color: #393e46;
}

.commentarea {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.commentarea h2 {
	margin: 1.5rem 0 0.5rem 0;
}

.commentarea input {
	width: 50%;
	max-width: 12rem;
	padding: 0.5rem;
}

.commentarea textarea {
	width: 50%;
	max-width: 12rem;
	padding: 0.5rem;
	min-height: 5rem;
	resize: vertical;
}

.commentarea input,
.commentarea textarea {
	font-size: 0.8rem;
	box-shadow: inset 0 0 0.3rem #c5cbd5;
	border: 2px solid #393e46;
	border-radius: 0.4rem;
}

.commentarea button {
	width: 50%;
	max-width: 12rem;
	padding: 0.5rem;

	border: 2px solid #393e46;
	border-radius: 0.4rem;
	box-shadow: 0 0 0.3rem #c5cbd5;
	background-color: #e2e2e2;
	font-size: 0.8rem;
	font-weight: bold;
	cursor: pointer;
}

.book-cover {
	margin: 0 auto;
	max-width: 200px;
	height: 250px;
}

.contactgrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
}

.infoarea {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
		translate: 0;
	}
	100% {
		transform: rotate(360deg);
		translate: -1.5rem;
	}
}

hr {
	margin-bottom: 2rem;
}

h1 {
	text-align: center;
	text-shadow: 0 1px 0.15rem #c5cbd5;
	margin: 0;
	padding: 2rem 0;
	font-size: 2rem;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p::first-letter {
	font-size: 1.5rem;
}

li {
	color: #5d3c58;
}

li:nth-child(odd) {
	color: #1581a0;
}

li > a {
	color: #5d3c58bb;
}

li:nth-child(odd) > a {
	color: #1581a0bb;
}

.sidebar {
	height: 100%;
	width: 0;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	z-index: 1;
}

.close-button {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.open-button {
	font-size: 30px;
	cursor: pointer;
}

.sidebar ul {
	list-style: none;
	padding: 0;
}

.sidebar ul li {
	padding: 10px;
	text-align: center;
}

.sidebar a {
	text-decoration: none;
	color: #818181;
}

.sidebar a:hover {
	color: #f1f1f1;
}

.content {
	margin-left: 0;
	transition: margin-left 0.5s;
	padding: 16px;
}

.sidebar nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.sidebar ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 1rem;
}

.sidebar ul a {
	margin-left: 1rem;
}

.sidebar a {
	color: #fff;
	font-weight: bold;
	text-align: center;
}

.sidebar a:hover {
	color: #e2e2e2;
}

.sidebar a.nav-active {
	color: darkgray !important;
}

.sidebar button {
	background-color: #22283133;
	border: none;
	color: #fff;
	font-weight: bold;
	text-align: center;
	margin-top: 0.5rem;
	padding: 0;
	cursor: pointer;
	transition: 0.3s;
}

.sidebar button:hover {
	color: #e2e2e2;
}

.open-button {
	background-color: #22283133;
	border: none;
	color: #fff;
	text-align: center;
	padding: 0;
	cursor: pointer;
	transition: 0.3s;
}

.open-button:hover {
	color: #e2e2e2;
}

@media screen and (max-width: 1600px) {
	/* .leftp img,
	.rightp img {
		width: 400px;
		height: 400px;
	}

	.leftp,
	.rightp {
		animation: none;
	} */

	.container {
		margin: 0;
	}
	.mygrid {
		flex-direction: column;
		text-align: center;
		height: auto;
		padding-top: 2rem;
	}
	.cards {
		grid-template-columns: 1fr 1fr;
	}

	.card3 {
		grid-column: 1 / 3;
		width: 50%;
		margin: 0 auto;
	}

	.contactgrid {
		grid-template-columns: 1fr;
	}

	.commentarea {
		margin: 1rem 0;
	}
}

@media screen and (max-width: 1024px) {
	body {
		font-size: 1rem;
	}

	header nav {
		padding: 0 1rem;
	}

	.container {
		margin: 0;
	}

	.mygrid {
		flex-direction: column;
		text-align: center;
	}

	.cards {
		grid-template-columns: 1fr;
	}

	.boxgrid {
		grid-template-columns: 1fr;
	}

	.favorites-picture {
		text-align: center;
	}

	.favorites-picture img {
		width: 100%;
		height: 100%;
	}

	.card3 {
		grid-column: 1;
		width: auto;
	}

	.card {
		grid-column: 1;
		width: auto;
	}
}
